/* quienes-somos-section */

// .slider-quienes-somos-font-1 {
// }

// .slider-quienes-somos-font-2 {
// }

// .quienes-somos-title-slider {
//     font-family: "futura-bold" !important;
//     font-size: 22px;
//     letter-spacing: 2px;
 
// }

.quienes-somos-title-slider {
    font-family: "futura-bold" !important;
    font-size: 34px !important;
    letter-spacing: 2px !important;
    font-weight: 400 !important;
   
}



.quienes_slider{
    font-size: 30px !important;
    letter-spacing: 2px !important;
    line-height: 72px !important;
    color: #000;
    font-family: futura-bold !important;
}

//monitores
@media only screen and (min-width: 1275px) and (max-width: 1349px) {
    h1.quienes_slider{
      
    }
}

@media only screen and (min-width: 1350px) and (max-width: 1899px) {
    h1.quienes_slider {
        margin-top: 70%;
        margin-left: -52%;
    }
}

@media only screen and (min-width: 1900px) {
    h1.quienes_slider{
        // margin-left: -26%;
        // margin-top: 61%;
    }
}


@media only screen and (min-width:1270px) and (max-width:1290px){
    h1.quienes_slider {
        margin-top: 61%;
        margin-left: -44%;
    }
}

// @media screen and (min) {
   
// h1.quienes_slider {
//     margin-top: 70%;
//     margin-left: -86%;
// }
// }

@media screen and (min-width:1360px) and (max-width:1370px) {
    h1.quienes_slider {
        margin-top: 59% !important;
        margin-left: -98% !important;
    }    
}

@media only screen and (min-width:1900px) {
    .quienes_slider {
        margin-top: 58% !important;
        margin-left: -11% !important;
    }
}



@media only screen and (max-width:600px){
    .page-id-169 #Footer {
      
        margin-top: -66px;
    }
}
